[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
setuptools = "*"
money = "*"
lxml = "*"
requests = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
help = "python src/main.py --help"
